.root {
    bottom: 10px;
    width: 100%;
    color: rgba(0, 0, 0, 0.8);
    padding: 0 10px;
    position: sticky;
    line-height: 30px;
    box-sizing: border-box;
    border-top: 1px solid var(--main-border-color);
    border-bottom: 1px solid var(--main-border-color);
}