.root {
    width: var(--left-panel-width);
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    width: 100%;
    flex: 1 1 auto;
}