.root {
    width: var(--left-panel-width);
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.title {
    position: relative;
    width: calc(100% - 60px);
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 28px 0 13px 0;
    margin: 0 0 10px 65px;
}